body {
  text-align: center;
}

main {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}

button {
  border: 0.1rem solid var(--red-color-900);
  background-color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
  color: white;
  font: inherit;
  padding: 0.5rem;
  border-radius: 8px;
}

button:hover,
button:active {
  background-color: white;
  color: var(--main-color);
}

ul {
  list-style: none;
}

main > div {
  display: flex;
  justify-content: space-between;
}
