main ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

main ul li {
  min-width: 25%;
  max-width: 25%;
  flex: 1;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 8px;
}
